<div class="frame">
  <div class="frame__header" [ngClass]="{'frame__header--no-shadow': buttons.shadow}">
    <div class="frame__header__button_wrapper">
      <button [routerLink]="['IssuesComponent']" class="frame__header__button" [hidden]="buttons.issues">Issues</button>
    </div>
    <span class="logo">Minira</span>
    <div class="frame__header__button_wrapper frame__header__button_wrapper--right">
      <button [routerLink]="['SettingsComponent']" class="frame__header__button" [hidden]="buttons.settings">Settings</button>
    </div>
  </div>
  <div class="frame__content">
    <router-outlet></router-outlet>
  </div>
</div>
