<div class="auth">
  <form [ngFormModel]="authForm" (ngSubmit)="auth()" class="auth__form">
    <h4>Login to your JIRA account</h4>
    <input type="text" placeholder="JIRA base url" ngControl="baseUrl">
    <input type="text" placeholder="Username" ngControl="user">
    <input type="password" placeholder="Password" ngControl="pass">
    <button type="submit" class="auth__submit">
      Login
    </button>
  </form>
  <div class="auth__loading" [hidden]="hideLoading">
    <div class="auth__loading__animation"></div>
    <h5>Trying to auth..</h5>
  </div>
</div>
