<div class="issue">
  <div class="issue__header">
    <div class="issue__header__top">
      <img [src]="issue.fields.issuetype.iconUrl">
      <h1 (click)="openIssue()">{{issue.fields.summary}}</h1>
      <div class="issue__priority"><img [src]="issue.fields.priority.iconUrl"></div>
    </div>

    <div class="issue__header__avatars">
      <div class="issue__header__avatars__avatar">
        <img [src]="issue.fields.reporter.avatarUrls['48x48']">
        <span>Reporter</span>
        {{issue.fields.reporter.displayName}}
      </div>
      <div class="issue__header__avatars__avatar">
        <img [src]="issue.fields.project.avatarUrls['48x48']">
        <span>Project</span>
        {{issue.fields.project.name}}
      </div>
    </div>
  </div>

  <div class="issue__content" [innerHTML]="issue.renderedFields.description"></div>

  <div class="issue__footer">
    <form [ngFormModel]="assignForm" (ngSubmit)="assignUser()">
      <label class="issue__footer__label">Assignee</label>
      <suggest [haystack]="getAssignable()" [control]="assignForm.controls.assigned" [value]="(issue.fields.assignee) ? issue.fields.assignee.name : ''"></suggest>
      <input type="submit">
    </form>

    <button class="issue__comments__show" (click)="showComments()"></button>

    <form class="issue__transition">
      <button class="label" [ngClass]="issue.fields.status.statusCategory.colorName" (click)="hideTransitions = !hideTransitions">{{issue.fields.status.name}}</button>
    </form>

    <div class="issue__transitions" [hidden]="hideTransitions">
      <label class="issue__footer__label">Status</label>
      <button *ngFor="#transition of transitions" (click)="doTransition(issue.id, transition)" class="label" [ngClass]="transition.to.statusCategory.colorName">{{transition.name}}</button>
    </div>
  </div>

  <div class="issue__comments__wrapper" [ngClass]="{'active': !hideComments }">
    <h2>Comments</h2>
    <button class="issue__comments__hide" (click)="hideComments = true">Close</button>

    <div class="issue__comments">
      <div *ngFor="#comment of comments" class="issue__comment">
        <div class="issue__comment__name">{{comment.author.displayName}} - {{_strAsDate(comment.updated) | date: 'dd MMM - HH:mm'}}</div>
        <div class="issue__comment__body" [innerHTML]="comment.renderedBody"></div>
      </div>
    </div>

    <form [ngFormModel]="commentForm" class="issue__comments__add" (ngSubmit)="addComment()">
      <textarea rows="3" placeholder="Comment.." ngControl="body"></textarea>
      <button type="submit">
        Add
        <div class="loading__material loading__material--add-comment" [hidden]="!addingComment">
          <svg class="spinner" width="30px" height="30px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </button>
    </form>
  </div>
</div>
