<div class="issue">
  <div class="issue__header">
    <div class="issue__header__top">
      <img [src]="issue.fields.issuetype.iconUrl">
      <h1>{{issue.fields.summary}}</h1>
      <div class="issue__priority"><img [src]="issue.fields.priority.iconUrl"></div>
    </div>

    <div class="issue__header__avatars">
      <div class="issue__header__avatars__avatar">
        <img [src]="issue.fields.reporter.avatarUrls['48x48']">
        <span>Reporter</span>
        {{issue.fields.reporter.displayName}}
      </div>
      <div class="issue__header__avatars__avatar">
        <img [src]="issue.fields.project.avatarUrls['48x48']">
        <span>Project</span>
        {{issue.fields.project.name}}
      </div>
    </div>
  </div>

  <div class="issue__content" [innerHTML]="issue.renderedFields.description"></div>

  <div class="issue__footer">
    <form [ngFormModel]="assignForm" (ngSubmit)="assignUser()">
      <label class="issue__footer__label">Assignee</label>
      <suggest [haystack]="getAssignable()" [control]="assignForm.controls.assigned" [value]="issue.fields.assignee.name"></suggest>
      <input type="submit">
    </form>

    <form class="issue__transition">
      <button class="label" [ngClass]="issue.fields.status.statusCategory.colorName" (click)="hideTransitions = !hideTransitions">{{issue.fields.status.name}}</button>
    </form>

    <div class="issue__transitions" [hidden]="hideTransitions">
      <label class="issue__footer__label">Status</label>
      <button *ngFor="#transition of transitions" (click)="doTransition(issue.id, transition)" class="label" [ngClass]="transition.to.statusCategory.colorName">{{transition.name}}</button>
    </div>
  </div>
</div>
