<div class="issues" [ngClass]="{'issues--hideOverflow': !hideLoading}">
  <div class="loading loading--issues" [hidden]="hideLoading"></div>
  <div class="issues__loading" [attr.style]="loadingPosition" [hidden]="hideLoading"></div>
  <div [routerLink]="['IssueComponent', {issueId: issue.id}]" (click)="fillLoad($event)" class="issues__item" *ngFor="#issue of issues">
    <div class="issues__item__avatar">
      <img class="issues__item__avatar__img" src="{{issue.fields.reporter.avatarUrls['48x48']}}">
      <img class="issues__item__priority" src="{{issue.fields.priority.iconUrl}}">
    </div>
    <div class="issues__item__info">
      <span class="issues__item__title">{{issue.fields.summary}}</span>
      <span class="issues__item__project">{{issue.fields.project.name}}</span>
    </div>
    <img class="issues__item__type" src="{{issue.fields.issuetype.iconUrl}}">
  </div>
  <div class="issues__zero" [hidden]="hideZero">
    <div class="issues__zero__done"></div>
    <h2>No issues found</h2>
  </div>
</div>
