@import 'src/client/scss/utils/_colors';

/**
 * Thanks George Hastings <3
 * http://codepen.io/georgehastings/pen/QyXeNR
 */
.loading {
  position: relative;
  background-color: #F8E71C;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50%;

  &--auth {
    margin: 50px 0;
  }

  &--issues {
    margin: 140px auto;
    animation: fadeIn .5s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    position: fixed;
    left: 50%;
    margin-left: -8px;
    z-index: 10;
    opacity: 0;
  }

  &:after, &:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &:after {
    left: -10px;
    top: -5px;
    background-color: hotpink;
    transform-origin: 15px 10px;
    animation: axis 1s linear infinite;
  }

  &:before {
    left: -25px;
    top: -15px;
    background-color: lightblue;
    transform-origin: 30px 20px;
    animation: axis 2s linear infinite;
  }
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0,0,0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0,0,0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// http://codepen.io/mrrocks/pen/EiplA <3

.loading__material {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &--add-comment {
    background-color: darken($color-bg-blue, 10%);
    z-index: 5;

    .spinner {
      margin-top: 15px;
    }
  }

  .spinner {
    animation: material-rotator 1.4s linear infinite;
  }

  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: material-dash 1.4s ease-in-out infinite;
    stroke: $color-bg-blue-text;
  }
}

@keyframes material-rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes material-dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: (187/4);
    transform:rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform:rotate(450deg);
  }
}
