.logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  background: linear-gradient(to left, #614385 , #516395);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
