@import 'src/client/scss/utils/_colors';

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url('./graphics/auth-bg.png');
  position: relative;
  z-index: 1;
  border-top: 1px solid darken(#003463, 15%);
  box-shadow: inset 0 3px 5px darken(#003463, 5%);

  h4 {
    font-size: 1.2rem;
    color: $color-white;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  input[type=text],
  input[type=password] {
    width: 60%;
    border: 2px solid $color-white;
    border-radius: 2px;
    color: $color-white;
    padding: 10px;
    font-size: 1.4rem;
    background: transparent;
    margin-bottom: 25px;
    outline: 0;

    &::-webkit-input-placeholder {
      color: $color-white;
    }
  }
}

.auth__submit {
  width: 170px;
  height: 35px;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #80d44e, #47ae0e);
  font-size: 1.4rem;
  outline: 0;
}

.auth__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #000;
  opacity: .75;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $color-white;
  }
}

.auth__loading__animation {
  width: 100px;
  height: 60px;
  background: url('./graphics/auth-loading.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
