@import 'src/client/scss/utils/_colors';

.issue {
  padding-bottom: 45px;
}

.issue__header {
  border-bottom: 1px solid darken($color-bg-blue, 10%);
  color: $color-bg-blue-text;
  height: 140px;
  padding: 0 10px;

  h1 {
    font-size: 1.8rem;
    margin-left: 10px;
    font-weight: normal;
  }
}

.issue__header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid darken($color-bg-blue, 10%);
}

.issue__header__avatars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.issue__header__avatars__avatar {
  width: 50%;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5px;

  span {
    color: darken($color-bg-blue-text, 5%);
    font-size: 1.1rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    margin-right: 12px;
    margin-top: 5px;
  }
}

.issue__content {
  background: $color-bg-white;
  color: $color-bg-white-text;
  font-size: 1.4rem;
  padding: 10px;
  min-height: 160px;
}

.issue__footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  background: #fff;
  border-top: 1px solid darken(#F7F8FB, 15%);

  input[type="submit"] {
    display: none;
  }

  input[type="text"] {
    border: 0;
  }

  form:first-child {
    margin-right: auto;
  }

  form:last-child {
    margin-left: auto;
  }
}

.issue__transition {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.issue__transitions {
  background: $color-white;
  position: absolute;
  bottom: 45px;
  right: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid darken(#F7F8FB, 15%);

  .label {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.issue__priority {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 22px;
  height: 22px;
  background: $color-white;
  border-radius: 100%;
  border: 1px solid #e98641;

  img {
    width: 14px;
    height: auto;
  }
}

.issue__footer__label {
  position: absolute;
  z-index: 2;
  top: -10px;
  background: darken(#F7F8FB, 15%);
  padding: 3px;
  font-size: .9rem;
  text-transform: uppercase;
  left: 8px;
}
