.issues {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.issues__item {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.issues__item__title {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.issues__item__status {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: green;
  margin-right: 10px;
}

.issues__item__avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.issues__item__priority {
  width: 16px;
  height: 16px;
}
